@import "setting";

.worksAhead {
    margin-top: 70px;
    margin-bottom: 110px;

    @include mq(sp) {
        margin-top: 40px;
        margin-bottom: 80px;
    }
}

.worksAhead__inner {
    width: 1170px;
}

.worksAhead__list {
    display: flex;
    flex-wrap: wrap;
}

.worksAhead__item {
    box-sizing: content-box;
    padding-right: 2.7027%;
    margin-bottom: 28px;
    width: 350px;
    max-width: 100%;
    text-align: center;

    &:nth-child(3) {
        padding-right: 0;
    }

    @media (max-width: 1169px) {
        width: 400px;
        margin: 0 auto 28px;

        &:nth-child(3) {
            padding-right: 2.7027%;
        }
    }

    @include mq(sp) {
        width: 100%;
        margin-bottom: 40px;
        padding: 0;
    }
}

.worksAhead__img {
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.worksAhead__item-title {
    margin-top: 14px;
    font-size: 16px;
    text-align: center;

    @include mq(sp) {
        margin-top: 15.4px;
    }
}